body {
    background-color: #000;
}
.hidden {
    display: none;
}

.mv-logo {
    img {
        position: absolute;
        left: 8rem;
        top: 2rem;
    }
}

.select-th-mv {
    padding: 3rem;
    padding-bottom: 0;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: end;
    margin-right: 10%;
    top: 10%;
    right: 0;
    z-index: 10;
    li {
        padding: 1rem;
        padding-bottom: 0;
        button {
            text-align: center;
            height: 35px;
            background-color: rgba($color: #d9d9d9, $alpha: 0.3);
            color: #fff;
            padding: 0 2rem;
            cursor: pointer;
            width: 110px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
        button.selected {
            background-color: #fff;
            color: #000;
        }
    }
}

.mv-content-list {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    .first-swiper {
        width: 70%;
        height: auto;
        margin: 2rem auto;
        &::after {
            content: "";
            display: block;
            background-color: rgba(0,0,0);
            background: linear-gradient(to top, rgba(0,0,0,1), rgba(232, 222, 115, 0.6), rgba(0,0,0,1));
            transform: translateY(-51.5rem);
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100vh;
            margin-left: -15%;
        }
        .mySwiper-th-rank {
            height: 500px;
            z-index: 6;
            .mySwiper-mv-slide {
                width: 15.3125rem;
                height: 22rem;
                img {
                    width: 15.3125rem;
                    height: 22rem;
                    object-fit: cover;
                }
            }
           
        }
    }
    .mu-rank-swiper {
        width: 70%;
        margin: 2rem auto;
        &::after {
            content: "";
            display: block;
            background-color: rgba(0,0,0);
            background: linear-gradient(to top, rgba(0,0,0,1), rgba(160, 19, 64, 0.5), rgba(0,0,0,1));
            transform: translateY(-51.5rem);
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100vh;
            margin-left: -15%;
        }
        .mySwiper-mu-rank {
            height: 500px;
            z-index: 6;
            .mySwiper-mv-slide {
                width: 15.3125rem;
                height: 22rem;
                .swiper-cover {
                    position: absolute;
                    width: 15.3125rem;
                    height: 22rem;
                }
                img {
                    width: 15.3125rem;
                    height: 22rem;
                    object-fit: cover;
                }
            }
          
        }
    }
    .top-text {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        z-index: 6;
        transform: translateX(-4%);
    }
    .mid-text {
        font-size: 2rem;
        display: flex;
        align-items: flex-start;
        margin: 2rem 0 2rem 10%;
        z-index: 6;
    }
    .second-swiper-mv {
        height: 300px;
        margin-bottom: 10%;
        padding-top: 5%;
        .mainSwiper {
            height: 700px;
            margin: 0 10%;
            width: auto;
            .mySwiper-mv-slide {
                width: 15.3125rem;
                height: 22rem;
                position: relative;
                .swiper-cover {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba($color: #333, $alpha: 0);
                    width: 100%;
                    height: 22rem;
                    &:hover {
                        background-color: rgba($color: #333, $alpha: 0.7);    
                        p {
                            opacity: 1;
                          }
                    }
                    p {
                        opacity: 0;
                        cursor: pointer;
                      &:nth-child(1)   {
                        background-color: #D9D9D9;
                        padding: 0.4em 1.5em;
                        border-radius: 7px;
                        margin-bottom: 6px;
                      }
                      &:nth-child(2) {
                        background-color: #FF8484;
                        padding: 0.4em 1.5em;
                        border-radius: 7px;
                        margin-top: 6px;
                      }
                    }
                }
            }
        }
        img {
            width: 15.3125rem;
            height: 22rem;
            object-fit: cover;
        }
    }
}
.all_swipertxt{
    color: #fff;
    text-align: center;
    font-family: GmarketSansMedium;
    padding-bottom: 5em;
    justify-content: center;
    align-items: center;
    p {
        font-size: 1.2rem;
        justify-content: center;
        &:first-child {
            margin-bottom: 10px;
            justify-content: center;
        }
    }
}