* {
    font-family: GmarketSansMedium;
}
ul, li {
    text-decoration: none;
    list-style: none;
}

// .box:after {
//     content: "";
//     display: block;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.5),rgb(255, 252, 154,0.5), rgba(0,0,0,0.5),rgba(0,0,0,1));
//     /* z-index: 11;
//     transform: translate3d(0, 0, 0); */
// }

.txt_margin_r {
    margin-right: 1rem;
}

.mv-main {
    width: 100%;
    height: 100vh;
    // background: linear-gradient(#fff, #000);
    margin-top: 1rem;
    .mv-logo {
        img {
            position: absolute;
            left: 8rem;
            top: 2rem;
        }
    }
    .mv-wrap { 
        // max-width: 1200px;
        margin: 8rem;
        padding: 0 10%;
        .movie-txt {
            display: flex;
            justify-content: space-between;
            .login-box {
                margin-left: 27rem;
            }
        }
        .mv-wrap-top {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
            padding: 0 0 0 9.5%;
            .mv-wrap-img {
                display: flex;
                align-items: center;
                width: 40%;
                img {
                    width: 15.3125rem;
                    height: 22rem;
                    border: 1px solid #000;
                }
            }
            .mv-context {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 1rem;
                margin-left: 3rem;
                width: 60%;
                padding-bottom: 1rem;
                position: relative;
                color: #fff;
                h1 {
                    text-align: left;
                    font-size: 2.5rem;
                    font-weight: 600;
                }
                h2 {
                    font-size: 1.2rem;
                    // color: rgba($color: #000, $alpha: 0.7);
                    margin-bottom: 1.2rem;
                    font-weight: 600;
                }
                p {
                    font-weight: 400;
                }
                button {
                    margin-top: 1rem;
                    background-color: #fff;
                    color: #000;
                    width: 110px;
                    text-align: center;
                    height: 35px;
                    border: none;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
        }
    }
    
    .mv-review {
        margin-top: 4rem;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        h2 {
            width: 100%;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
            text-align: left;
        }
        .mv-review-input {
            width: 100%;
            text-align: center;
            position: relative;
            display: flex;
            input {
                width: 100%;
                padding: 20px;
                padding-left: 30px;
                height: 5rem;
                border-radius: 10px;
                background-color: #ccc;
            }
            button {
                position: absolute;
                right: 20px;
                top: 20px;
                padding: 30px 5px;
                border-radius: 10px;
                background-color: bisque;
            }
        }
        ul {
            margin-top: 1.2rem;
            li {
                border: 1px solid #aaa;
                border-radius: 10px;
                padding: 30px;
                background-color: #fff;
                text-align: left;
            }
        }

    }
    
}